<div class="animated fadeIn">
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-header">
                  <strong>Enter Transaction Details</strong>
              </div>
              <div class="card-body">
                  <form #myForm="ngForm" method="post" enctype="multipart/form-data" class="form-horizontal">
                      {{myForm.value | json}}
                      <div class="form-group">
                        <div>
                          <label for="amount">Amount</label>
                          <input type="text" class="form-control" name='amount' id="amount" placeholder="Amount" [(ngModel)]='amount'> 
                        </div>
                      </div>
                      <label class="switch switch-label switch-danger">
                        <input type="checkbox" class="switch-input" name="isCredit" checked [(ngModel)]='isCredit'>
                        <span class="switch-slider" data-checked="Out" data-unchecked="In"></span>
                      </label>
                      <div class="form-group">
                        <label for="select1">Select Category</label>
                        <div>
                          <select id="transaction_categories_id" name="transaction_categories_id" class="form-control" [(ngModel)]='category'>
                            <option *ngFor="let data of categories" [value]=data.id>{{data.category}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="textarea-input">Description</label>
                        <div>
                          <textarea id="description" name="description" rows="3" class="form-control" placeholder="Description.." [(ngModel)]='description'></textarea>
                        </div>
                      </div>
                  </form>
              </div>
              <div class="card-footer">
                  <button type="submit" class="btn btn-sm btn-primary" (click)="addTransaction()"><i class="fa fa-dot-circle-o"></i> Add</button>
                  <button type="reset" class="btn btn-sm btn-danger"  (click)="resetForm()"><i class="fa fa-ban"></i> Reset</button>
              </div>
          </div>
      </div>
  </div>