<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">9.823</div>
          <div>Budget</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart2Data"
          [labels]="lineChart2Labels"
          [options]="lineChart2Options"
          [colors]="lineChart2Colours"
          [legend]="lineChart2Legend"
          [chartType]="lineChart2Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="text-value">{{totalSaving}}</div>
          <div>Total Saving</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart2Data"
          [labels]="lineChart2Labels"
          [options]="lineChart2Options"
          [colors]="lineChart2Colours"
          [legend]="lineChart2Legend"
          [chartType]="lineChart2Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="text-value">9.823</div>
          <div>Avg monthly saving</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart3Data"
          [labels]="lineChart3Labels"
          [options]="lineChart3Options"
          [colors]="lineChart3Colours"
          [legend]="lineChart3Legend"
          [chartType]="lineChart3Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Traffic</h4>
          <div class="small text-muted">November 2017</div>
        </div><!--/.col-->
        <!-- <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Day</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Month</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Year</label>
          </div>
        </div> --><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"></canvas>
      </div>
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Visits</div>
          <strong>29.703 Users (40%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Unique</div>
          <strong>24.093 Users (20%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Pageviews</div>
          <strong>78.706 Views (60%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">New Users</div>
          <strong>22.123 Users (80%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Bounce Rate</div>
          <strong>40.15%</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.card-->
  <div class="row">
    <div class="col-sm-6 col-lg-3" style="
    content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Credit-card-front.svg/1280px-Credit-card-front.svg.png);
    height: 164px;">
    </div>
    <div class="col-sm-6 col-lg-3" style="
    content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Credit-card-front.svg/1280px-Credit-card-front.svg.png);
    height: 164px;">
    </div>
    <div class="col-sm-6 col-lg-3" style="
    content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Credit-card-front.svg/1280px-Credit-card-front.svg.png);
    height: 164px;">
    </div>
    <div class="col-sm-6 col-lg-3" style="
    content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Credit-card-front.svg/1280px-Credit-card-front.svg.png);
    height: 164px;">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Trasnactions
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div *ngFor="let data of monthlyTransactionStats | keyvalue" class="col-sm-6">
                  <div class="callout callout-info">
                    <small class="text-muted">{{data.key}}</small>
                    <br>
                    <strong class="h4">{{data.value}}</strong>
                  </div>
                </div>
              </div>
              <hr class="mt-0">
              <div *ngFor="let dayWiseData of transactionWithDayMap | keyvalue" >
                <div class="progress-group mb-4">
                  <div class="progress-group-prepend">
                    <span class="progress-group-text">
                      {{dayWiseData.key}}
                    </span>
                  </div>
                  <div class="progress-group-bars">
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-info" role="progressbar"  [ngStyle]="{'width':dayWiseData.value.debitPercent+'%'}" [attr.aria-valuenow]= "test" aria-valuemax="100"></div>
                    </div>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width':dayWiseData.value.creditPercent+'%'}" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div *ngFor="let data of monthlyIncomeStats | keyvalue" class="col-sm-6">
                  <div class="callout callout-info">
                    <small class="text-muted">{{data.key}}</small>
                    <br>
                    <strong class="h4">{{data.value}} ₹</strong>
                  </div>
                </div>
              </div><!--/.row-->
              <hr class="mt-0">
              <div *ngFor="let categoryData of categoryWithSpend" class="progress-group">
                  <div class="progress-group-header">
                      <i class="icon-user progress-group-icon"></i>
                      <div>{{categoryData.categoryName}}</div>
                      <div class="ml-auto font-weight-bold">{{categoryData.spend}} 43%</div>
                    </div>
                    <div class="progress-group-bars">
                      <div class="progress progress-xs">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
              </div>
            </div><!--/.col-->
          </div><!--/.row-->
          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Description</th>
                <th class="text-center">Amount</th>
                <th>Status</th>
                <th class="text-center">Created On</th>
                <th>Category</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of transactions">
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>{{transaction.description}}</div>
                  <div class="small text-muted"><!-- 
                    <span>New</span> | Registered: Jan 1, 2015 -->
                  </div>
                </td>
                <td class="text-center">
                  <!-- <i class="flag-icon flag-icon-us h4 mb-0" title="us" id="us"></i> -->
                  {{transaction.amount}}
                </td>
                <td>
                  <!-- <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> -->
                  {{transaction.is_credit?"Spend":"Saving"}}
                </td>
                <td class="text-center">
                  <!-- <i class="fa fa-cc-mastercard" style="font-size:24px"></i> -->
                  {{transaction.created_on}}
                </td>
                <td>
                  <!-- <div class="small text-muted">Last login</div>
                  <strong>10 sec ago</strong> -->
                  {{transaction.transaction_categories_id}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
<!-- <app-add-transasction></app-add-transasction> -->
