<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>Enter Details</strong>
                </div>
                <div class="card-body">
                    <form #myForm="ngForm" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">User Name</label>
                            <div class="col-md-9">
                                <input type="text" id="userName" name="userName" [(ngModel)]="userName" class="form-control" placeholder="Enter Name..">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="email-input">Email Id</label>
                            <div class="col-md-9">
                                <input type="email" id="emailId" name="emailId" [(ngModel)]="emailId" class="form-control" placeholder="Enter Email.."
                                autocomplete="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="mobileNum-input">Mobile Num</label>
                            <div class="col-md-9">
                                <input type="tel" id="mobileNum" name="mobileNum" [(ngModel)]="mobileNum" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"  class="form-control" placeholder="Enter Mobile Num.."
                                    autocomplete="tel">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="date-input">Date Of Birth</label>
                            <div class="col-md-9">
                                <input class="form-control" id="date-input" type="date" [(ngModel)]="dateOfBirth" name="dateOfBirth" placeholder="date">
                                <span class="help-block">Please enter a valid date</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary" (click)="addUserDetails(myForm)"><i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button type="reset" class="btn btn-sm btn-danger"  (click)="resetForm(myForm)"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>
        </div>
    </div>